*{
    box-sizing: border-box;
}
.big_pink{
    width: 600px;
    height: 600px;
    display: flex;
    background-color: deeppink;
    margin-left: calc((100% - 600px)/2);
    flex-direction: column;
}
.top{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.yellow_block{
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin: 10px;

}
.green{
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    margin: 50px auto;
}
.bottom{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
}

